'body':
  'meta-alt-ctrl-o': 'vim-mode:toggle'

'.vim-mode.insert-mode':
  'escape': 'vim-mode:activate-command-mode'

'.vim-mode.command-mode':
  '" a': 'vim-mode:register-prefix'
  '" b': 'vim-mode:register-prefix'
  '" c': 'vim-mode:register-prefix'
  '" d': 'vim-mode:register-prefix'
  '" e': 'vim-mode:register-prefix'
  '" f': 'vim-mode:register-prefix'
  '" g': 'vim-mode:register-prefix'
  '" h': 'vim-mode:register-prefix'
  '" i': 'vim-mode:register-prefix'
  '" j': 'vim-mode:register-prefix'
  '1': 'vim-mode:numeric-prefix'
  '2': 'vim-mode:numeric-prefix'
  '3': 'vim-mode:numeric-prefix'
  '4': 'vim-mode:numeric-prefix'
  '5': 'vim-mode:numeric-prefix'
  '6': 'vim-mode:numeric-prefix'
  '7': 'vim-mode:numeric-prefix'
  '8': 'vim-mode:numeric-prefix'
  '9': 'vim-mode:numeric-prefix'
  '0': 'vim-mode:numeric-prefix'
  'i': 'vim-mode:insert'
  'd': 'vim-mode:delete'
  'D': 'vim-mode:delete-to-last-character-of-line'
  'O': 'vim-mode:insert-above-with-newline'
  'o': 'vim-mode:insert-below-with-newline'
  'a': 'vim-mode:insert-after'
  'J': 'vim-mode:join'
  'x': 'vim-mode:delete-right'
  'y': 'vim-mode:yank'
  'p': 'vim-mode:put-after'
  '>': 'vim-mode:indent'
  '<': 'vim-mode:outdent'
  'h': 'vim-mode:move-left'
  'j': 'vim-mode:move-down'
  'k': 'vim-mode:move-up'
  'l': 'vim-mode:move-right'
  'w': 'vim-mode:move-to-next-word'
  'b': 'vim-mode:move-to-previous-word'
  '}': 'vim-mode:move-to-next-paragraph'
  '^': 'vim-mode:move-to-first-character-of-line'
  '$': 'vim-mode:move-to-last-character-of-line'
  # '0': 'vim-mode:move-to-beginning-of-line'
  'escape': 'vim-mode:reset-command-mode'
  'u': 'core:undo'
  'ctrl-r': 'core:redo'
  'ctrl-u': 'core:page-up'
  'ctrl-d': 'core:page-down'
