@import "syntax-variables";
@import "ui-variables";

.normal-mode-input atom-text-editor[mini] {
  background-color: inherit;
  border: none;
  width: 100%;
  font-weight: normal;
  color: @text-color;
  line-height: 1.28;
  cursor: default;
  white-space: nowrap;
  padding-left: 10px;
}

.vim-hidden-normal-mode-input {
  height: 0px !important;
  width: 0px !important;
  overflow: hidden !important;
  border: none !important;
  padding: 0 !important;
  display: block !important;
  position: fixed !important;
  top: -10px !important;
  left: -10px !important;
}

.block-cursor(@visibility: visible) {
  border: 0;
  background-color: @syntax-cursor-color;
  visibility: @visibility;
  opacity: 0.5;
}

.underline-cursor(@visibility: visible) {
  border: none;
  border-bottom: .3em solid @syntax-cursor-color;
  background: none;
  visibility: @visibility;
  opacity: 0.5;
}

.low-block-cursor(@visibility: visible) {
  border: none;
  border-bottom: .6em solid @syntax-cursor-color;
  background: none;
  visibility: @visibility;
  opacity: 0.5;
}

atom-text-editor.vim-mode.normal-mode,
atom-text-editor.vim-mode.operator-pending-mode,
atom-text-editor.vim-mode.visual-mode,
{
  &::shadow, // shadow-DOM enabled
  &           // shadow-DOM disabled
  {
    .cursor {
      .block-cursor(hidden);
    }
  }
}

atom-text-editor.vim-mode.normal-mode.is-focused,
atom-text-editor.vim-mode.operator-pending-mode.is-focused,
atom-text-editor.vim-mode.visual-mode.is-focused
{
  &::shadow, // shadow-DOM enabled
  &           // shadow-DOM disabled
  {
    .cursor {
      .block-cursor;
    }
  }
}

atom-text-editor.vim-mode.visual-mode
{
  &::shadow, // shadow-DOM enabled
  &           // shadow-DOM disabled
  {
    .cursor.hidden-cursor {
      display: block;
    }
  }
}

atom-text-editor.vim-mode.replace-mode
{
  &::shadow, // shadow-DOM enabled
  &           // shadow-DOM disabled
  {
    .cursor {
      .underline-cursor(hidden);
    }
  }
}

atom-text-editor.vim-mode.replace-mode.is-focused
{
  &::shadow, // shadow-DOM enabled
  &           // shadow-DOM disabled
  {
    .cursor {
      .underline-cursor;
    }

    .cursors.blink-off .cursor {
      .underline-cursor(hidden);
    }
  }
}

atom-text-editor.vim-mode.operator-pending-mode
{
  &::shadow, // shadow-DOM enabled
  &           // shadow-DOM disabled
  {
    .cursor {
      .low-block-cursor(hidden);
    }
  }
}

atom-text-editor.vim-mode.operator-pending-mode.is-focused
{
  &::shadow, // shadow-DOM enabled
  &           // shadow-DOM disabled
  {
    .cursor {
      .low-block-cursor;
    }

    .cursors.blink-off .cursor {
      .low-block-cursor(hidden);
    }
  }
}

.gutter-highlight(@color) {
  border-left: 2px solid @color !important;
  // background-color: @color !important;
  color: @color !important;
}

atom-text-editor::shadow .gutter .vim-mark-gutter {
  @candy-red: #FF3155;
  @candy-blue: #209fd3;
  @candy-orange: #FFAF42;
  @candy-yellow: #FFED5E;
  @candy-green: #49F770;
  @candy-purple: #BF00FF;

  &.vim-mark-gutter-f, &.vim-mark-gutter-F,
  &.vim-mark-gutter-k, &.vim-mark-gutter-K,
  &.vim-mark-gutter-p, &.vim-mark-gutter-P,
  &.vim-mark-gutter-u, &.vim-mark-gutter-U {
    .gutter-highlight(@candy-red);
  }

  &.vim-mark-gutter-b, &.vim-mark-gutter-B,
  &.vim-mark-gutter-g, &.vim-mark-gutter-G,
  &.vim-mark-gutter-l, &.vim-mark-gutter-L,
  &.vim-mark-gutter-q, &.vim-mark-gutter-Q,
  &.vim-mark-gutter-v, &.vim-mark-gutter-V {
    .gutter-highlight(@candy-blue);
  }

  &.vim-mark-gutter-c, &.vim-mark-gutter-C,
  &.vim-mark-gutter-h, &.vim-mark-gutter-H,
  &.vim-mark-gutter-m, &.vim-mark-gutter-M,
  &.vim-mark-gutter-r, &.vim-mark-gutter-R,
  &.vim-mark-gutter-w, &.vim-mark-gutter-W {
    .gutter-highlight(@candy-orange);
  }

  &.vim-mark-gutter-d, &.vim-mark-gutter-D,
  &.vim-mark-gutter-i, &.vim-mark-gutter-I,
  &.vim-mark-gutter-n, &.vim-mark-gutter-N,
  &.vim-mark-gutter-s, &.vim-mark-gutter-S,
  &.vim-mark-gutter-x, &.vim-mark-gutter-X {
    .gutter-highlight(@candy-yellow);
  }

  &.vim-mark-gutter-e, &.vim-mark-gutter-E,
  &.vim-mark-gutter-j, &.vim-mark-gutter-J,
  &.vim-mark-gutter-o, &.vim-mark-gutter-O,
  &.vim-mark-gutter-t, &.vim-mark-gutter-T,
  &.vim-mark-gutter-y, &.vim-mark-gutter-Y {
    .gutter-highlight(@candy-green);
  }

  &.vim-mark-gutter-a, &.vim-mark-gutter-A,
  &.vim-mark-gutter-z, &.vim-mark-gutter-Z {
    .gutter-highlight(@candy-purple);
  }
}

.search-input atom-text-editor[mini]::before {
  content: '/';
}

.reverse-search-input atom-text-editor[mini]::before {
  content: '?';
}
